* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sec-1 */
.navbar {
    padding: 10px 50px;
    width: 100%;
}

.sec-1 {
    width: 100%;
    background-image: url(./img/bg1.png);
    background-size: cover;
    /* overflow: hidden;     */
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.dispflex {
    display: flex;
    flex-wrap: wrap;
}

.aic {
    align-items: center;
}

.jcb {
    justify-content: space-between;
}

.top-head {
    background-color: #ffffff;
}

.icon ul li {
    display: inline-block;
}

.link ul li {
    display: inline-block;
}

.icon i {
    color: black;
    margin: 10px;
}

.link a {
    color: black;
    margin: 10px;
    text-decoration: none;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 100%;
}

.mainhometext {

    align-items: end;

}

.head h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "font-family: 'Poppins', sans-serif;";
}

.lorem {
    padding: 15px 0;
}

.lorem p {
    width: 75%;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-family: "lato"

}

.clickhear {
    padding-bottom: 65px;
}

.clickhear button {
    background-color: #f56131;
    padding: 5px 25px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
}

.row {
    padding: 90px 0;
}

/*section-2 */
.sec-2 {
    width: 100%;
}

.sec2r1c1 {
    width: 40%;
}

.sec2r1c1 img {
    width: 100%;
    background-size: contain;
}

.sec2r1c2 {
    width: 60%;
    background-color: #2f2339;
    padding: 90px 0 0 70px;
}

.sec2head h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/* sec-3 */

sec-3 {
    background-color: #fff;
}

.bgclrs3 {
    background-color: #f56131;
}

.ic1 {
    width: 30%;
    padding: 30px;
}

.ic1 p {}

.s3r1 {
    width: 30%;
    padding: 30px 0 30px 100px;
    background-color: aqua;
}

.s3r2 {
    width: 70%;
}


.lorems3 {
    width: 100%;
}
.iconmainbox {
    width: 100%;

}
.iconmainbox p{
margin-left: 10px;
}
.s3lorem {
    width: 30%;
    padding: 30px 0 30px 30px;
    text-align: left;
}