@media(min-width:576px)
{
.container{
    width: 90vw;
   
}
}
@media(min-width:768px)
{
    .container {
        width: 70vw;
     
    } 
}
@media(min-width:992px)
{
    .container {
        width: 80vw;
        
    }
}
@media(min-width:1200px)
{
    .container {
        width: 85vw;
    }
}