* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 2px pink;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col25 {
    width: 100%;
}

.col33 {
    width: 100%;
}

.col50 {
    width: 100%;
}
@media(min-width:576px){
    .container{
        width: 560px;
    }
}
@media(min-width:768px)
{
    .container {
        width: 720px;
    }

    .col25 {
        width: 50%;
    }

    .col33 {
        width: 50%;
        margin: 0 auto;
    }

    .col50 {
        width: 50%;
    }
}
@media(min-width:992px)
{
    .container {
        width: 960px;
    }

    .col25 {
        width: 25%;
    }

    .col33 {
        width: 33.33%;
    }

    .col50 {
        width: 50%;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1200px;
    }

    .col25 {
        width: 25%;
    }

    .col33 {
        width: 33.33%;
    }

    .col50 {
        width: 50%;
    }
}