* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(242, 225, 225);
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.col-20 {
    width: 20%;
    /* background-color: rgb(147, 153, 210,0.9); */
    background-color: #387A95
}

.col-80 {
    width: 80%;
    background: linear-gradient(#b1a9e2, #1f7186);
    height: 99vh;
}

.dis {
    display: none;
}

h2 {
    text-align: center;
    font-size: 3rem;
    background-color: #29758C;
    color: rgb(246, 230, 230);
    padding: 1rem;
    text-decoration: underline;
    text-decoration-color: burlywood;
}

.que {
    padding: 2rem;
}

h3 {
    font-size: 2rem;
}

.ans {
    padding: 0 0 0 2rem;
}

p {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.que-1 ul li {
    margin: 0.5rem 0 0 2.2rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.que-2 .ans a {
    color: burlywood;
    font-size: 1.3rem;
    text-decoration: underline;
}

.example {
    color: white;
}

hello