* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
button{
    width: 70px;
    padding: 1.5em;
    margin:0.2em 0.1em;
    background-color: gray;
    color: white;
}

input{
    width: 300px;
    padding: 1em;
    margin: 0 0 1em 0;
}







